body{
    margin:0%;
    width:1200px;
    background-color: #fab897;
}

h1{
	font-family: 'Amatic SC', cursive;
	line-height: 100px;
	font-size: 100px;
	text-align: center;
	margin: 0;
}

h2{
	font-family: 'Amatic SC', cursive;
	line-height: 40px;
	font-size: 30px;
	text-align: center;
	margin: 0;
}

h3{
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	text-align: center;
	margin: 0 0 0 0;
}

h4{
	font-family: 'Josefin Slab', serif;
	line-height: 20px;
	font-size: 13px;
	margin: 0;
}

h5{
	font-family: 'Josefin Slab', serif;
	line-height: 18px;
	font-size: 15px;
	text-align: center;
	margin: 10 0 0 0;
}

ul{
	width: 200px;
	margin: 20 0 0 50;
	padding: 0;
	list-style: none;
	float:left;
	font-size: 50px;
	text-align: center;
	line-height: 80px;
	font-family: 'Amatic SC', cursive;
}

li a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #853c63;
  border-radius: 20px;
  color: white;
}

li a:hover:not(.active) {
  background-color: #853c63;
  border-radius: 20px;
  color: white;
}

a.link {
	color: #000;
	text-decoration: none;
}

a.link:hover {
	color: #fff;
}

a.link:visited {
	color: #853c63;
}

.header{
    width: 880px;
    height: 200px;
    margin: 20 50 50 20;
    float:right;
}

.gallery{
	width: 408px;
    height: 400px;
    margin: 0 25 50 120;
    float: left;
}

.gallery1{
	width: 203px;
    height: 400px;
    margin: 0 120 50 0;
    float: left;
}

div.gallery:hover {
	color: #fff;
}

div.gallery:visited {
	color: #853c63;
}

div.gallery1:hover {
	color: #fff;
}

div.gallery1:visited {
	color: #853c63;
}

.desc{
	padding: 15px;
	text-align: center;
}

.about{
	width: 880px;
    height: 400px;
    margin: 20 50 50 0;
    float: right;
}

.abouttext{
	width: 530px;
    height: 360px;
    margin: 20 10 20 0;
    float: right;
}

.photo{
	width: 250px;
    height: 250px;
    margin: 75 20 75 20;
    float: left;
}

.articles{
	width: 880px;
    height: 440px;
    margin: 0 0 50 20;
    float: left;
}

.nottolate{
	width: 410px;
    height: 440px;
    margin: 0 20 0 20;
    float:left;
}

.kennedy{
    width: 410px;
    height: 440px;
    margin: 0 20 0 0;
    float:right;
}

.books{
	width: 880px;
    height: 1200px;
    margin: 0 50 50 0;
    float: right;
    background-color: gray;
}

.thetruth{
	width: 250px;
    height: 420px;
    margin: 20 120 0 130;
    float:left;
}

.mylife{
	width: 250px;
    height: 420px;
    margin: 20 130 0 0;
    float:right;
}











